USE [master]
GO
/****** Object:  Database [LTWEB_TMDT_NOITHAT]    Script Date: 12/16/2021 2:13:21 AM ******/
CREATE DATABASE [LTWEB_TMDT_NOITHAT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LTWEB_TMDT_NOITHAT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\LTWEB_TMDT_NOITHAT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LTWEB_TMDT_NOITHAT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\LTWEB_TMDT_NOITHAT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LTWEB_TMDT_NOITHAT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LTWEB_TMDT_NOITHAT]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 12/16/2021 2:13:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[idUser] [int] NOT NULL,
	[idProduct] [int] NOT NULL,
	[quantity] [int] NULL,
 CONSTRAINT [PK_Carts] PRIMARY KEY CLUSTERED 
(
	[idUser] ASC,
	[idProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 12/16/2021 2:13:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[active] [bit] NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 12/16/2021 2:13:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUser] [int] NULL,
	[idProduct] [int] NULL,
	[comment] [nvarchar](max) NULL,
	[rating] [int] NULL,
	[time] [datetime] NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 12/16/2021 2:13:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[idOrder] [int] NOT NULL,
	[idProduct] [int] NOT NULL,
	[quantity] [int] NULL,
	[unitPrice] [decimal](19, 5) NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[idOrder] ASC,
	[idProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 12/16/2021 2:13:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUser] [int] NOT NULL,
	[idShip] [int] NULL,
	[idSeller] [int] NULL,
	[createTime] [datetime] NULL,
	[totalPrice] [decimal](19, 5) NULL,
	[status] [int] NULL,
	[paidTime] [datetime] NULL,
	[idPaymentMethod] [int] NULL,
	[orderKey] [int] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 12/16/2021 2:13:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethods](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
 CONSTRAINT [PK_PaymentMethods] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 12/16/2021 2:13:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idProduct] [int] NOT NULL,
	[imageLink] [varchar](max) NULL,
 CONSTRAINT [PK_ProductImage] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 12/16/2021 2:13:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idCategory] [int] NULL,
	[name] [nvarchar](max) NULL,
	[price] [decimal](19, 3) NULL,
	[description] [nvarchar](max) NULL,
	[createTime] [datetime] NULL,
	[nvisit] [int] NULL,
	[nsold] [int] NULL,
	[active] [int] NULL,
	[idUser] [int] NULL,
	[availableQuantity] [int] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShipInfos]    Script Date: 12/16/2021 2:13:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipInfos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUser] [int] NULL,
	[address] [nvarchar](max) NULL,
 CONSTRAINT [PK_ShipInfo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 12/16/2021 2:13:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/16/2021 2:13:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idRole] [int] NOT NULL,
	[username] [nvarchar](max) NOT NULL,
	[password] [char](64) NOT NULL,
	[phone] [char](10) NULL,
	[email] [varchar](max) NULL,
	[avatar] [varchar](max) NULL,
	[registerTime] [datetime] NULL,
	[active] [bit] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[CartItems] ([idUser], [idProduct], [quantity]) VALUES (1, 5, 1)
INSERT [dbo].[CartItems] ([idUser], [idProduct], [quantity]) VALUES (4, 126, 1)
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([id], [name], [active]) VALUES (1, N'Bàn', 1)
INSERT [dbo].[Categories] ([id], [name], [active]) VALUES (2, N'Ghế', 1)
INSERT [dbo].[Categories] ([id], [name], [active]) VALUES (3, N'Giường', 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([id], [idUser], [idProduct], [comment], [rating], [time]) VALUES (1, 4, 123, N'Sản phẩm rất phù hợp với túi tiền', 4, CAST(N'2021-11-27T12:51:24.257' AS DateTime))
INSERT [dbo].[Comments] ([id], [idUser], [idProduct], [comment], [rating], [time]) VALUES (2, 4, 123, N'Sản phẩm đẹp!', 2, CAST(N'2021-12-07T00:01:23.067' AS DateTime))
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
INSERT [dbo].[OrderDetails] ([idOrder], [idProduct], [quantity], [unitPrice]) VALUES (3, 4, 1, CAST(4490000.00000 AS Decimal(19, 5)))
INSERT [dbo].[OrderDetails] ([idOrder], [idProduct], [quantity], [unitPrice]) VALUES (4, 123, 1, CAST(749000.00000 AS Decimal(19, 5)))
INSERT [dbo].[OrderDetails] ([idOrder], [idProduct], [quantity], [unitPrice]) VALUES (5, 52, 1, CAST(6990000.00000 AS Decimal(19, 5)))
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([id], [idUser], [idShip], [idSeller], [createTime], [totalPrice], [status], [paidTime], [idPaymentMethod], [orderKey]) VALUES (3, 5, 4, 2, CAST(N'2019-06-25T17:31:49.567' AS DateTime), CAST(4490000.00000 AS Decimal(19, 5)), 2, CAST(N'2019-07-04T17:31:49.567' AS DateTime), 1, NULL)
INSERT [dbo].[Orders] ([id], [idUser], [idShip], [idSeller], [createTime], [totalPrice], [status], [paidTime], [idPaymentMethod], [orderKey]) VALUES (4, 5, 4, 3, CAST(N'2019-08-15T17:31:49.670' AS DateTime), CAST(749000.00000 AS Decimal(19, 5)), 2, CAST(N'2019-08-19T17:31:49.670' AS DateTime), 1, NULL)
INSERT [dbo].[Orders] ([id], [idUser], [idShip], [idSeller], [createTime], [totalPrice], [status], [paidTime], [idPaymentMethod], [orderKey]) VALUES (5, 6, 6, 2, CAST(N'2019-09-27T17:33:43.917' AS DateTime), CAST(6990000.00000 AS Decimal(19, 5)), 2, CAST(N'2019-09-30T17:33:43.917' AS DateTime), 1, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentMethods] ON 

INSERT [dbo].[PaymentMethods] ([id], [name]) VALUES (1, N'Thanh toán khi nhận hàng
')
INSERT [dbo].[PaymentMethods] ([id], [name]) VALUES (2, N'Thanh toán trực tuyến
')
SET IDENTITY_INSERT [dbo].[PaymentMethods] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImages] ON 

INSERT [dbo].[ProductImages] ([id], [idProduct], [imageLink]) VALUES (1, 1, N'https://res.cloudinary.com/dviyn9zyq/image/upload/v1636975149/n5u2npdxjpbvqoosrtss.jpg')
INSERT [dbo].[ProductImages] ([id], [idProduct], [imageLink]) VALUES (2, 1, N'https://res.cloudinary.com/dviyn9zyq/image/upload/v1636975150/fglwwqk2pe6ipm8ju6vt.jpg')
INSERT [dbo].[ProductImages] ([id], [idProduct], [imageLink]) VALUES (3, 1, N'https://res.cloudinary.com/dviyn9zyq/image/upload/v1636975152/ffo60lma5ocdkmnj2vui.jpg')
GO
SET IDENTITY_INSERT [dbo].[ProductImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ShipInfos] ON 

INSERT [dbo].[ShipInfos] ([id], [idUser], [address]) VALUES (1, 4, N'474 Phố Bàng Tụ Hiển, Ấp Viên Oanh, Quận Ma Hoàng, Hải Phòng')
INSERT [dbo].[ShipInfos] ([id], [idUser], [address]) VALUES (2, 4, N'484 Lê Văn Việt, Tăng Nhơn Phú A, Thủ Đức ')
INSERT [dbo].[ShipInfos] ([id], [idUser], [address]) VALUES (3, 5, N'Chợ Long Biên')
SET IDENTITY_INSERT [dbo].[ShipInfos] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([id], [name]) VALUES (1, N'Admin')
INSERT [dbo].[UserRoles] ([id], [name]) VALUES (2, N'Người mua')
INSERT [dbo].[UserRoles] ([id], [name]) VALUES (3, N'Người bán')
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [idRole], [username], [password], [phone], [email], [avatar], [registerTime], [active]) VALUES (1, 1, N'Trần Văn Tuấn', N'6c6373cabc039fbfe3ce4ca05115258977c05b77b2910f9b27c51a922931ff4f', N'0985321642', N'admin01@gmail.com', N'https://res.cloudinary.com/dviyn9zyq/image/upload/v1639449317/ca1rh1gp1uxnesbzd7zr.png', CAST(N'2021-11-01T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Users] ([id], [idRole], [username], [password], [phone], [email], [avatar], [registerTime], [active]) VALUES (2, 3, N'Nguyễn Minh Ðạt', N'c00dacf13511f7115cd539a40cc0d672fd4e619a7cd5cb3e300ae99ee9fff03c', N'0290058377', N'datnm@gmail.com', NULL, CAST(N'2021-11-15T18:11:36.577' AS DateTime), 1)
INSERT [dbo].[Users] ([id], [idRole], [username], [password], [phone], [email], [avatar], [registerTime], [active]) VALUES (3, 3, N'Nguyễn Mỹ Anh', N'2547a4403ce8ac3b80f751fb98a2c658e5d3f6bebff74061652fd615389f4486', N'0595261251', N'anhnm@gmail.com', NULL, CAST(N'2021-11-15T20:33:02.090' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Products] FOREIGN KEY([idProduct])
REFERENCES [dbo].[Products] ([id])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_Carts_Products]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Users] FOREIGN KEY([idUser])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_Carts_Users]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Products] FOREIGN KEY([idProduct])
REFERENCES [dbo].[Products] ([id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Products]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Users] FOREIGN KEY([idUser])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Users]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([idOrder])
REFERENCES [dbo].[Orders] ([id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Products] FOREIGN KEY([idProduct])
REFERENCES [dbo].[Products] ([id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_PaymentMethods] FOREIGN KEY([idPaymentMethod])
REFERENCES [dbo].[PaymentMethods] ([id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_PaymentMethods]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_ShipInfos] FOREIGN KEY([idShip])
REFERENCES [dbo].[ShipInfos] ([id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_ShipInfos]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([idUser])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users1] FOREIGN KEY([idSeller])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users1]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_ProductImages_Products] FOREIGN KEY([idProduct])
REFERENCES [dbo].[Products] ([id])
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_ProductImages_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([idCategory])
REFERENCES [dbo].[Categories] ([id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Users] FOREIGN KEY([idUser])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Users]
GO
ALTER TABLE [dbo].[ShipInfos]  WITH CHECK ADD  CONSTRAINT [FK_ShipInfos_Users] FOREIGN KEY([idUser])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[ShipInfos] CHECK CONSTRAINT [FK_ShipInfos_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_UserRoles] FOREIGN KEY([idRole])
REFERENCES [dbo].[UserRoles] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_UserRoles]
GO
USE [master]
GO
